<div class="grid-card col4"> 
    <div class="inner flex-column">
        <a href="<%= seo_url(item) %>" class="amp-image" aria-label="<%= item.seo_name %>"><%= product_image(item, alt: item.name ) %></a>  
        <h2><a href="<%= seo_url(item) %>"><%= item.seo_name %></a></h2> 
    </div>
</div> 