<% if item[:component_type] == "ArticleCard"  %>
     <div class="featured mb-3">
         <h2 class="b-bottom"><%= item[:title] %></h2>
        <%= render partial: 'amp/shared/article_card', collection: item[:resources] , as: :item , locals: { show_description: true } %> 
     </div>
<% elsif item[:component_type]  == "Tabs"  %>
    <div id="accordion" class="mb-3">
         <h2 class="b-bottom"><%= item[:title] %></h2>
        <amp-accordion expand-single-section animate>
            <%= render partial: 'amp/shared/block_card', collection: item[:resources] , as: :item   %> 
        </amp-accordion>
    </div>
<% elsif item[:component_type] == "BannerCard"  %> 
    <div id="main-card" >
        <%= render partial: 'amp/shared/amp_carousel', collection: item[:resources] , as: :item  %> 
    </div> 
     
<% elsif item[:component_type]  == "PopularCategories"  %>
    <div id="popular" class="mb-3">
        <h2 class="b-bottom"><%= item[:title] %></h2> 
        <div class="box">
            <%= render partial: 'amp/shared/taxon_list', collection: item[:resources] , as: :item   %>  
        </div>
    </div>
<% end %>  